html, body{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(14,14,14);
}

*{
  box-sizing: border-box;
}

/* hero section */

.hero-section{
  position: fixed;
  width: 100%;
  top:0px;
}

.hero-image{
  width: 100%;
  height: 150px;
  background-color: rgb(46,46,47);

}

.search-bar{
  position: absolute;
}

.find-film h1{
  margin: 0px;
  padding: 0px;
  color: rgb(229,231,235); 
  font-size: 2rem;
}

.find-film{
  top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 2.5em;
  width: 100%;
  position: absolute;
  top: 40px;
}

.find-film a{
  text-decoration: none;
  color: rgb(229,231,235); 
  align-self: center;
  font-size: 1rem;
  padding: 0.4em 1em;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75);
}

.search-bar{
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
}

.search-bar button {
 padding: 0.8em ;
 border: none;
border-bottom-right-radius: 6px;
border-top-right-radius: 6px;
 color: rgb(229,231,235);   
background-color: rgb(75, 75, 75);
  cursor: pointer;
}

.search-bar input{
 padding: 0.8em ;
 width: 60vw;
 border: none;
 border-top-left-radius:6px;
 border-bottom-left-radius:6px ;
 background-color: rgb(46,46,47);
 color: rgb(229,231,235);
 background-image: url("searchicon.png");
 background-size: 15px;
 background-repeat: no-repeat;
 background-position: 10px center;
 padding-left: 2.5em;
}
input::placeholder{
   color: rgb(229,231,235);   
  opacity: 0.4;
  }
/* movie section */
.logo, .logo-text, #error-msg{
  display: block;
  margin:  auto;
  margin-top: 13em;
  color: rgb(229,231,235);
  text-align: center;
  font-size: 1.05rem;
}

.logo-text{
  margin-top: 0.5rem;
  font-weight: 500;
  opacity: 0.8;
}

#container{
  padding: 200px 15px;

}
.movie{
     color: rgb(229,231,235);
     padding: 18px;
     border-bottom: 1px solid rgb(229,231,235);
}
.movie, .movie-header{
display: flex;
  gap: 15px;
 
}

.movie-info{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}

.movie img{
    width: 160px;
  height: 240px;
  object-fit: cover;         /* crop images to fill box, keeps aspect ratio */
  border-radius: 6px;
  flex-shrink: 0;            /* prevent image from shrinking in flex layout */
  margin-right: 12px;
  display: block;                                                                                  ;
}

.movie h2{
  margin-top: 0px;
  margin-bottom: 8px;
}
.movie p{
  margin: 3px;
   max-width: 700px;

}

.watchlist-btn {
  padding: 6px 12px;
  display: inline-block;
  border-radius: 6px;
  border: none;
  margin-left: 10px;
   flex: 0 0 auto;
  min-width: 88px;   
  height: 30px;      
  box-sizing: border-box;
  cursor: pointer;
}
#error-msg{
  margin-top: 8em;
  font-weight: 500;
  opacity: 0.8;
}


